@import "tailwindcss";

@theme inline {
  --color-text: var(--text);
  --color-text-h: var(--text-h);
  --color-bg: var(--bg);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-code-bg: var(--code-bg);
  --color-accent: var(--accent);
  --color-accent-bg: var(--accent-bg);
  --color-accent-border: var(--accent-border);
  --color-social-bg: var(--social-bg);
  --shadow: var(--shadow);
}

:root {
  --radius: 0.625rem;
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --foreground: oklch(0.985 0 0);
  --border: oklch(0.922 0 0);
  --code-bg: #1f2028;
  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

.dark {
  --bg: #16171d;
  --popover: #16171d;
  --popover-foreground: oklch(0.985 0 0);
  --border: #2e303a;
}

@custom-variant dark (&:is(.dark *));
@custom-variant peer-data-checked (&:where(.peer[data-state="checked"] ~ *));
@custom-variant peer-data-unchecked (&:where(
  .peer[data-state="unchecked"] ~ *
));
